.img-sea{
  width: 400px;
  box-sizing: border-box;

  border: 3px solid red;
  padding: 50px 15px;
  margin: 10px;
}
.span{
  width: 300px;
  border: 3px solid red;
  padding: 50px 15px;
}
.div{
  width: 300px;
  border: 3px solid red;
  margin: 50px auto;
}
.align-center{
  margin: 10px auto;
  text-align: center;
}