.pic-ch{
  width: 25vmin;
  height: 25vmin;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.pic-ch-f{
  width: 25vmin;
  height: 25vmin;
  border-radius: 50%;
  background-image: url(./../img/sea.jpg);
  background-size: cover;
  background-position: top;
}